body{
    width: 100%;
    margin: 0px;
}
/* Pagina prinipal */

.headerGrid{
    display: grid;
    grid-template-columns: 48% 48% ;
    grid-template-rows: 100%;
    gap: 4%;
    grid-template-areas: "logo" "nav";
    background-color: #B6CCFE;
    align-items: center;

}


.header__logo{
    width:20%;
    grid-area: logo;
    position: relative;



}


.header__title{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 40px;
    grid-area: logo;
    position: relative;
    text-align: center;

}
.header_nav_list{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    position: relative;
    bottom: 0%;





}
.header__nav li{
    list-style: none;
    text-decoration: none;
    grid-area: nav;
  
}
.header__nav a{
    text-decoration: none;
}
.header__nav span{
    color: white;
    background-color:#0077b6 ;
    border-style: solid;
    border-color: #0077b6;

}

.intro{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:400px 400px ;
    grid-row-gap: 10% ;
    width: 100%;
    z-index: 1;
    background-image: url("./imagenes/Layout1.png");
    justify-content: center;
    justify-items: center;

}
.intro__title{

    top: 200px;
    left: 500px  ;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 60px;
    text-align: center;
    z-index: 1;


}

.intro__paragraph{
    height: 5px;
    position: absolute;
    top: 350px;
    left: 340px;
    text-align: center;
    z-index: 1;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px

    
}
.description{
    height: 600px;
    width: 100%;
    background-color: #457b9d ;
}
.description h2{
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
    text-align: center;
    margin:0px;

}


.description__video{
    height: 50px;
    width: 100px;
    position: relative;
    top: 40px;
    left: 600px;
}


.products {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 40% 40%  ;
    grid-template-rows: 202px 202px; 
    justify-content: center;
    gap: 10%;
    margin: 10px;
    border: 1px solid gray;
    
    
}
.products div{
    position: relative;
    top: 0px;
    display: inline-block;
    height: 200px;
    width: 100%;
    margin: 10px;


}
.products img{
    position: relative;
    left: 25%;
    height: 100px;
    width: auto;



}
.Products__title{
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
    text-align: center;
}

.divider{
    position: relative;
    top: 100px;
    height: 100px;
    width: auto;
    background-color: #457b9d;
}



.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    top: 100px;
}
.gmap_canvas {overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
.ubicacion{
    height: 700px;
}
.ubicacion__mapa{
    position: relative;
    text-align: -webkit-center;
    
}
.ubicacion h2{
    position: relative;
    top: 100px;
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
    text-align: center;
}
/* Pe de página  */

footer{
    position: relative;
    bottom: 0px;
    height: 120px;
    width: 100%;
    background-color:#B6CCFE;
    display: inline-block;
}

.footer h3{
    display: inline;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 20px;
}
.footer img{
    height: 100px ;
    width: auto;
}

.footer p{
    position: relative;
    left: 40px;
    display: inline;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 20px;
}

/* Quienes somos */

.quieneSomos{
    height: 700px;
    width: 100%;
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.quienesSomos__resumen{
    height: 400px;
    width: 500px;
}

.caracteristicasBloque{
    position: relative;
    height: 300px;
    width: 100%;
    background-color:#457b9d ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: cornsilk;

}
.caracteristicasBloque div{
    position: relative;
    top: 10%;
    height: 75%;
    width: 200px;
    border: 4px groove #4895ef;
    text-align: center;

}



/* Serrvicios */

.servicios{
    height: 100%;
    width: 100%;
    position: relative;
    top: 143px;
}

.servicios__grid{
    display: grid;
    grid-template-columns: 28% 28%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    /* No me funciona el grid area */
    grid-template-areas: 'texto imagen imagen texto texto imagen imagen texto texto imagen imagen texto';

    justify-content: center;


}
.servicios__grid div{
    border:2px groove darkblue;
    border-radius: 24px;
}
.servicios__grid p{
    text-align: center;
    grid-area: texto;
 
}
.servicios__grid img {
    height: 304px;
    border-radius: 24px;
    grid-area: imagen;
}
.servicios__titulo {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
}
.servicios_divisor{
    position: relative;
    width: 100%;
    height: 300px;
}

/* Drones */
.drones{
    height: 600px;
    width: 100%;
    position: relative;
    top: 140px;

}
.drones__galeria{

    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.drones__titulo{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;

}
.drones__divisor{
    height: 400px;
    width: 100%;
}

/* Contacto */
.divisor_contacto{
    height: 200px;
    width: 100%;
}

.formularioContacto{
    margin: 0 auto;
    height: 400px;
    width: 500px;
    border: 1px solid #4895ef ;
    padding: 10px;
}

.tituloFormularioContacto{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
}